<html>

<head>
	<title>openvidu-mvc-node</title>

	<meta name="viewport" content="width=device-width, initial-scale=1" charset="utf-8"></meta>
	<link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon"></link>

	<!-- Bootstrap -->
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha256-k2WSCIexGzOj3Euiig+TlR8gA0EmPjuc79OEeY5L45g="
	    crossorigin="anonymous"></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
	    crossorigin="anonymous"></link>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
	    crossorigin="anonymous"></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"></link>
	<!-- Bootstrap -->

	<link rel="styleSheet" href="style.css" type="text/css" media="screen"></link>
</head>

<body>

	<div id="main-container" class="container">
		<div id="logged">
			<div id="join" class="vertical-center">
				<div id="join-dialog" class="jumbotron">
					
					<div id="login-info">
						<div>Logged as <span id="name-user"><%= locals.name  %></span></div>
						<form action="/logout" method="post">
							<button id="logout-btn" class="btn btn-danger" type="submit">Log out</button>
						</form>
					</div>
                                        <hr/>
                                        <h3>Create a video session</h3>
					<form class="form-group" action="/create-room" method="post">
						<div class="input-group">
							<input class="form-control" placeholder="Room Name" type="text" name="room_name" required="true">
					            <span class="input-group-btn">	
							<button class="btn  btn-primary" type="submit">Create!</button>
                                                    </span>
						</div>
					</form>
                                        <h3>Join a video session</h3>
					<form class="form-group" action="/create-room" method="post">
						<div class="input-group">
							<input class="form-control" placeholder="Room ID" type="text" name="room_id" required="true">
					            <span class="input-group-btn">	
							<button class="btn  btn-success" type="submit">Join!</button>
                                                    </span>
						</div>
					</form>
					<hr/>
                                        <h3> Rooms connected </h3>
                                        <div class="list-group">
                                          <% for (key in locals.rooms) { %>
                                            <% const room = locals.rooms[key]; %>
                                            <% if (room.self_made) { %>
                                              <a href="<%= room.url %>" class="list-group-item list-group-item-action
                                                     list-group-item-primary d-flex justify-content-between align-items-center">
                                               <%= room.name %>
                                               <span class="badge badge-primary badge-pill"><%= room.population %></span>
                                              </a>
                                            <% } else { %>
                                              <a href="<%= room.url %>" class="list-group-item list-group-item-action
                                                     list-group-item-warn d-flex justify-content-between align-items-center">
                                               <%= room.name %>
                                               <span class="badge badge-primary badge-pill"><%= room.population %></span>
                                              </a>
                                            <% } %>
                                          <% } %>
                                       </div>
				</div>
			</div>
		</div>
	</div>

</body>

</html>
